.logo {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: rgb(86, 8, 158);
}

body {
    background-color: rgb(221, 205, 236);
}

.container1 {
    background-color: rgb(171, 101, 236);
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
    width: 300px;
    border-radius: 7px;
}
.button1 {
    font-family: 'Source Code Pro', monospace;
    border-radius: 6px;
    background-color: rgb(195, 152, 236);
    padding: 10px 15px;
    transition-duration: 0.4s;
    color: rgb(86, 8, 158);
    border: none;
}
.button1:hover {
    background-color: rgb(86, 8, 158);
    color: rgb(195, 152, 236);
    transition-delay: 0.2s;
}
img {
    margin-top: 15px;
    margin-left: 45px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 5px;
    animation: imgZoom 3.5s ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
}
@keyframes imgZoom {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1) rotate(365deg);}
    100% {transform: scale(1) rotate(0deg);}
}

img:hover {
    animation-play-state: paused;
}

.container2 {
    background-color: rgb(171, 101, 236);
    margin-top: 20px;
    margin-left: 400px;
    height: 300px;
    width: 300px;
    border-radius: 7px;
}
.button2 {
    font-family: 'Source Code Pro', monospace;
    border-radius: 6px;
    background-color: rgb(195, 152, 236);
    padding: 10px 15px;
    transition-duration: 0.4s;
    color: rgb(86, 8, 158);
    border: none;
}
.button2:hover {
    background-color: rgb(86, 8, 158);
    color: rgb(195, 152, 236);
    transition-delay: 0.2s;
}

